.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  max-width: 600px;
}

.pageContainer {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
}

.imageSection {
  flex: 1;
  background: url('/cover.png') center / cover no-repeat;
  display: none;
}

.loginSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.65);
  width: 100%;
}

.loginContent {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.loginPage {
  background: url('/cover.png') center/cover no-repeat;
}

@media (min-width: 768px) {
  .loginPage {
    background: none
  }
  .imageSection {
    display: block;
  }
  .loginSection {
    background-color: rgba(255, 255, 255, 0.3);
  }
}