:root {
    background-color: #eeeeee;
    box-sizing: border-box;
    text-align: center;
}

body, html {
    overflow-x: hidden;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }